<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>双向绑定</title>
  </head>
  <body>
    <div id="app">
      <form action="">
        <input type="text" v-model="number" />
        <button type="button" v-click="increment">增加</button>
      </form>
      <h3 v-bind="number"></h3>

      <form action="">
        <input type="text" v-model="number2" />
        <button type="button" v-click="increment2">增加</button>
      </form>
      <h3 v-bind="number2"></h3>
    </div>
    <script>
      function MyVue(options) {
        this._init(options);
      }

      MyVue.prototype._init = function(options) {
        this.$options = options;
        this.$el = document.querySelector(options.el);
        this.$data = options.data;
        this.$methods = options.methods;
        this._binding = {}; //_binding保存着model与view的映射关系，也就是我们前面定义的Watcher的实例。当model改变时，我们会触发其中的指令类更新，保证view也能实时更新
        this._observer(this.$data);
        this._complie(this.$el);
      };

      MyVue.prototype._observer = function(obj) {
        let _this = this;
        Object.keys(obj).forEach(key => {
          let value = obj[key];
          if (typeof value === "object" && value !== null) {
            _this._observer(value);
            return;
          }
          // 按照前面的数据，_binding = {number: _directives: []}
          _this._binding[key] = {
            _directives: []
          };
          let binding = _this._binding[key];
          Object.defineProperty(obj, key, {
            enumerable: true,
            configurable: true,
            get: function() {
              console.log(`${key}获取${value}`);
              return value;
            },
            set: function(newVal) {
              if (value != newVal) {
                console.log(`${key}更新${value}`);
                value = newVal;
                binding._directives.forEach(item => {
                  item.update();
                });
              }
            }
          });
        });
      };

      MyVue.prototype._complie = function(root) {
        //root 为 id为app的Element元素，也就是我们的根元素
        let nodes = root.children,
          _this = this;
        for (let i = 0; i < nodes.length; i++) {
          let node = nodes[i];
          if (node.children.length) {
            this._complie(node);
          }

          if (node.hasAttribute("v-click")) {
            let attrVal = node.getAttribute("v-click");
            node.onclick = _this.$methods[attrVal].bind(_this.$data);
          }

          if (
            node.hasAttribute("v-model") &&
            (node.tagName == "INPUT" || node.tagName == "TEXTAREA")
          ) {
            let attrVal = node.getAttribute("v-model");
            _this._binding[attrVal]._directives.push(
              new Watcher("input", node, _this, attrVal, "value")
            );
            node.addEventListener("input", function(index) {
              _this.$data[attrVal] = node.value;
            });
          }

          if (node.hasAttribute("v-bind")) {
            let attrVal = node.getAttribute("v-bind");
            this._binding[attrVal]._directives.push(
              new Watcher("text", node, _this, attrVal, "innerHTML")
            );
          }
        }
      };
      function Watcher(name, el, vm, exp, attr) {
        this.name = name; //指令名称，例如文本节点，该值设为“text”
        this.el = el; //指令对应DOM元素
        this.vm = vm; //指令所属MyVue实例
        this.exp = exp; //指令对应的值，本例如“number”
        this.attr = attr; //绑定的属性值，本例如“innerHTML”

        this.update();
      }

      Watcher.prototype.update = function() {
        this.el[this.attr] = this.vm.$data[this.exp]; //比如 H3.innerHTML = this.data.number; 当number改变时，会触发这个update函数，保证对应的DOM内容进行了更新。
      };

      var vue = new MyVue({
        el: "#app",
        data: {
          number: 0,
          number2: 0
        },
        methods: {
          increment: function() {
            this.number++;
          },
          increment2: function() {
            this.number2++;
          }
        }
      });
    </script>
  </body>
</html>
